openapi: 3.2.0
info:
  title: SlashID Organization Webhooks API
  description: This is the OpenAPI specification for communicating with the SlashID service.
  version: '1.1'
  termsOfService: https://www.slashid.dev/terms-of-use/
  contact:
    name: API Support
    email: contact@slashid.dev
servers:
- url: https://api.slashid.com
  description: Production
- url: https://api.sandbox.slashid.com
  description: Sandbox
security:
- ApiKeyAuth: []
tags:
- name: Organization Webhooks
paths:
  /test-events:
    parameters:
    - $ref: '#/components/parameters/OrgIDHeader'
    post:
      operationId: PostTestEvents
      x-rbac-enabled: true
      x-rbac-allowed-groups: admin
      tags:
      - Organization Webhooks
      summary: Generate events for testing
      description: 'Generate events for testing analytics flows, such as webhooks.

        This endpoint can be used to create one or more SlashID events. The request body is a list of test event descriptions, including the type of event to generate, the number of events of that type to generate, and whether those events should be duplicates. The contents of the events will be randomly generated, and will have the `is_test_event` flag set to true, so they can be distinguished from real events.

        Please refer to our events guide for a full list of SlashID events and their contents.

        Note that this endpoint is rate-limited to 10 test events per minute, with a burst of 50. If your tests require a higher rate, please contact us.'
      requestBody:
        description: The events to be generated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestEventsPostReq'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponseBase'
                - type: object
                  properties:
                    result:
                      $ref: '#/components/schemas/TestEventsPostResponse'
                  required:
                  - result
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIResponseBase'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIResponseBase'
  schemas:
    Test_TokenMinted_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
    APIMeta:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/APIPagination'
        cursor_pagination:
          $ref: '#/components/schemas/APICursorPagination'
    EventName:
      type: string
      enum:
      - AuthenticationSucceeded_v1
      - AuthenticationFailed_v1
      - PersonCreated_v1
      - AnonymousPersonCreated_v1
      - PersonDeleted_v1
      - VirtualPageLoaded_v1
      - SlashIDSDKLoaded_v1
      - PersonIdentified_v1
      - PersonLoggedOut_v1
      - TokenMinted_v1
      - AnonymousTokenMinted_v1
      - PasswordChanged_v1
      - GdprConsentsChanged_v1
      - GateServerStarted_v1
      - GateRequestHandled_v1
      - GateRequestCredentialFound_v1
      - PermissionCreated_InRegion_v1
      - PermissionCreated_v1
      - PermissionDeleted_InRegion_v1
      - PermissionDeleted_v1
      - RoleCreated_InRegion_v1
      - RoleCreated_v1
      - RoleDeleted_InRegion_v1
      - RoleDeleted_v1
      - RoleUpdated_InRegion_v1
      - RoleUpdated_v1
      - RolesSetToPerson_InRegion_v1
      - RolesSetToPerson_v1
      - PermissionsSetToPerson_InRegion_v1
      - PermissionsSetToPerson_v1
      - MitmAttackDetected_v1
      - PermissionUpdated_InRegion_v1
      - PermissionUpdated_v1
      - SuborganizationCreated_InRegion_v1
      - SuborganizationCreated_v1
      - OAuth2ClientCreated_InRegion_v1
      - OAuth2ClientCreated_v1
      - AWSIAMUserCreated_v1
      - AWSIAMRoleCreated_v1
      - AWSIAMRoleInlinePoliciesUpdated_v1
      - AWSIAMRoleManagedPoliciesUpdated_v1
      - AWSIAMRoleAssumeRolePolicyUpdated_v1
      - AWSIAMRolePermissionsBoundaryUpdated_v1
      - AWSIAMRoleDeleted_v1
      - GCPServiceAccountCreated_v1
      - GCPRoleCreated_v1
      - GCPIAMPolicyBindingUpdated_v1
      - GCPServiceAccountDeleted_v1
      - ActiveDirectorySPNCreated_v1
      - ActiveDirectorySPNRoleUpdated_v1
      - ActiveDirectorySPNDeleted_v1
      - ActiveDirectoryUserCreated_v1
    Test_GateServerStarted_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
    APIResponseError:
      type: object
      properties:
        httpcode:
          type: integer
        message:
          type: string
    Test_GdprConsentsChanged_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
    Test_AnonymousTokenMinted_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
    PersonID:
      type: string
      description: Person ID
      example: 064b7b63-ea43-76e5-b208-1900795bc5b7
    APIResponseBase:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/APIMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/APIResponseError'
    TestEventsPostReq:
      type: array
      items:
        $ref: '#/components/schemas/TestEventsSpecification'
    TestEventsPostResponse:
      type: array
      items:
        $ref: '#/components/schemas/TestEvent'
    BaseTestSDKEvent:
      type: object
      properties:
        window_location:
          type: string
          format: url
    Test_PersonIdentified_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - $ref: '#/components/schemas/BaseTestSDKEvent'
    Test_VirtualPageLoaded_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - $ref: '#/components/schemas/BaseTestSDKEvent'
    Test_AuthenticationFailed_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - type: object
        properties:
          failed_authn_method:
            $ref: '#/components/schemas/FactorMethod'
          failure_reason:
            type: string
    APICursorPagination:
      type: object
      required:
      - limit
      - cursor
      - total_count
      properties:
        limit:
          type: integer
        cursor:
          type: string
        total_count:
          type: integer
          format: int64
    APIPagination:
      type: object
      required:
      - limit
      - offset
      - total_count
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total_count:
          type: integer
          format: int64
    Test_PersonLoggedOut_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - $ref: '#/components/schemas/BaseTestSDKEvent'
    BaseTestEvent:
      type: object
      required:
      - event_id
      - event_name
      - timestamp
      - organization_id
      properties:
        event_id:
          type: string
          format: uuid
        event_name:
          $ref: '#/components/schemas/EventName'
        timestamp:
          type: string
        organization_id:
          $ref: '#/components/schemas/OrganizationID'
    Test_PersonCreated_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - type: object
        properties:
          person_id:
            $ref: '#/components/schemas/PersonID'
    TestEventsSpecification:
      type: object
      required:
      - event_name
      properties:
        event_name:
          $ref: '#/components/schemas/EventName'
        count:
          type: integer
          default: 1
        duplicates:
          type: boolean
          default: false
        analytics_correlation_id:
          type: string
          default: ''
    Test_PersonDeleted_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - type: object
        properties:
          person_id:
            $ref: '#/components/schemas/PersonID'
    OrganizationID:
      type: string
    Test_PasswordChanged_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
    Test_AuthenticationSucceeded_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - type: object
        properties:
          person_id:
            $ref: '#/components/schemas/PersonID'
          authn_method:
            $ref: '#/components/schemas/FactorMethod'
    Test_SlashIDSDKLoaded_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - $ref: '#/components/schemas/BaseTestSDKEvent'
    FactorMethod:
      type: string
      description: Allowed login factor
      enum:
      - webauthn
      - email_link
      - sms_link
      - otp_via_sms
      - otp_via_email
      - totp
      - oidc
      - saml
      - api
      - direct_id
      - password
      - impersonate
      - anonymous
    Test_GateRequestCredentialFound_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
    Test_AnonymousPersonCreated_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
      - type: object
        properties:
          person_id:
            $ref: '#/components/schemas/PersonID'
    TestEvent:
      oneOf:
      - $ref: '#/components/schemas/Test_AuthenticationSucceeded_v1'
      - $ref: '#/components/schemas/Test_AuthenticationFailed_v1'
      - $ref: '#/components/schemas/Test_PersonCreated_v1'
      - $ref: '#/components/schemas/Test_AnonymousPersonCreated_v1'
      - $ref: '#/components/schemas/Test_PersonDeleted_v1'
      - $ref: '#/components/schemas/Test_VirtualPageLoaded_v1'
      - $ref: '#/components/schemas/Test_SlashIDSDKLoaded_v1'
      - $ref: '#/components/schemas/Test_PersonIdentified_v1'
      - $ref: '#/components/schemas/Test_PersonLoggedOut_v1'
      - $ref: '#/components/schemas/Test_TokenMinted_v1'
      - $ref: '#/components/schemas/Test_AnonymousTokenMinted_v1'
      - $ref: '#/components/schemas/Test_PasswordChanged_v1'
      - $ref: '#/components/schemas/Test_GdprConsentsChanged_v1'
      - $ref: '#/components/schemas/Test_GateServerStarted_v1'
      - $ref: '#/components/schemas/Test_GateRequestCredentialFound_v1'
      - $ref: '#/components/schemas/Test_GateRequestHandled_v1'
      discriminator:
        propertyName: event_name
        mapping:
          AuthenticationSucceeded_v1: '#/components/schemas/Test_AuthenticationSucceeded_v1'
          AuthenticationFailed_v1: '#/components/schemas/Test_AuthenticationFailed_v1'
          PersonCreated_v1: '#/components/schemas/Test_PersonCreated_v1'
          AnonymousPersonCreated_v1: '#/components/schemas/Test_AnonymousPersonCreated_v1'
          PersonDeleted_v1: '#/components/schemas/Test_PersonDeleted_v1'
          VirtualPageLoaded_v1: '#/components/schemas/Test_VirtualPageLoaded_v1'
          SlashIDSDKLoaded_v1: '#/components/schemas/Test_SlashIDSDKLoaded_v1'
          PersonIdentified_v1: '#/components/schemas/Test_PersonIdentified_v1'
          PersonLoggedOut_v1: '#/components/schemas/Test_PersonLoggedOut_v1'
          TokenMinted_v1: '#/components/schemas/Test_TokenMinted_v1'
          AnonymousTokenMinted_v1: '#/components/schemas/Test_AnonymousTokenMinted_v1'
          PasswordChanged_v1: '#/components/schemas/Test_PasswordChanged_v1'
          GdprConsentsChanged_v1: '#/components/schemas/Test_GdprConsentsChanged_v1'
          GateServerStarted_v1: '#/components/schemas/Test_GateServerStarted_v1'
          GateRequestHandled_v1: '#/components/schemas/Test_GateRequestHandled_v1'
          GateRequestCredentialFound_v1: '#/components/schemas/Test_GateRequestCredentialFound_v1'
    Test_GateRequestHandled_v1:
      allOf:
      - $ref: '#/components/schemas/BaseTestEvent'
  parameters:
    OrgIDHeader:
      name: SlashID-OrgID
      in: header
      schema:
        type: string
      required: true
      description: The organization ID
      example: af5fbd30-7ce7-4548-8b30-4cd59cb2aba1
  securitySchemes:
    ApiKeyAuth:
      description: Authorizes the request with the organization's API Key.
      x-svc-um-api: true
      type: apiKey
      in: header
      name: SlashID-API-Key
    OAuth2ClientIdSecret:
      description: Authorizes the request with a client ID/client secret pair
      type: http
      scheme: basic
    OAuth2AccessTokenBearer:
      description: Authorizes the request with an Access Token for the current user.
      type: http
      scheme: bearer
      bearerFormat: opaque
